<nav>
    <ul class="icon-box">
        <li>
            <a href="/about">
                {% renderFile "./includes/icons/smiley.liquid" %}
                <span class="visually-hidden">About</span>
            </a>
        </li>
        <li>
            <a href="/RekasCV.pdf" target="_blank">
                {% renderFile "./includes/icons/page.liquid" %}
                <span class="visually-hidden">CV</span>
            </a>
        </li>
        <li>
            <a href="/projects" >
                {% renderFile "./includes/icons/cursor.liquid" %}
                <span class="visually-hidden">Porfolio</span>
            </a>
        </li>
        <li>
            <a href="/contact">
                {% renderFile "./includes/icons/chatbubble.liquid" %}
                <span class="visually-hidden">Contacts</span>
            </a>
        </li>
    </ul>
</nav>