<div class="left">
<a href="/">
    <h1>
        Monica Rekas
    </h1>
</a>
    <div class="icon-box icon-box-mobile desktop-hidden">
        <a href="/about">
        {% renderFile "./includes/icons/smiley.liquid" %}
        </a>
        <a href="/RekasCV.pdf" target="_blank">
        <img src="/page32x32-folded.svg" width="32" height="32"/>
        </a>
        <a href="/projects">
        <img src="/cursor.png" width="32" height="32"/>
        </a>
        <a href="/contact">
        <img src="/chatbubble.png" width="32" height="32" />
        </a>
    </div>
</div>