<div class="left">
<a href="/">
    <h1>
        Monica Rekas
    </h1>
</a>
    <div class="icon-box icon-box-mobile">
        <button id="toggle-nav">
        {% renderFile "./includes/icons/hamburger.liquid" %}
        {% renderFile "./includes/icons/close.liquid" %}
        </button>
    </div>
</div>