<div class="icon-box">
    {% renderFile "./includes/icons/smiley.liquid" %}
    <img src="/page32x32-folded.svg" width="32" height="32"/>
    <img src="/cursor.png" width="32" height="32"/>
    <img src="/chatbubble.png" width="32" height="32" />
</div>