---
title: 	⊂(◉‿◉)つ 
---

{% capture js %}
  {% render "./scripts/main.js" %}
{% endcapture %}

{% capture split %}
  {% render "./scripts/split.js" %}
{% endcapture %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preload" href="/fonts/PPNeueBit-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/PPNeueBit-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    {% if title == '⊂(◉‿◉)つ - projects' %}
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    {% endif %}
  </head>
  <script>
      {{- split | jsmin -}}
  </script>
  <body>
    {{ content }}
    <script>
      {{- js | jsmin -}}
    </script>
  </body>
</html>