---
layout: /layouts/base.liquid
---

<main class="grid-container">
    <div class="grid-1">
        {% renderFile "./includes/components/left.liquid" %}
    </div>
    <div class="grid-2">
        {{ content }}
    </div>
    <div class="grid-3">
        {% renderFile "./includes/components/right.liquid" %}
    </div>
</main>

{% renderFile "./includes/components/footer.liquid" %}