@import url('./reset.css');

@font-face {
    font-family: "PP Neuebit";
    src:
        url("../fonts/PPNeueBit-Regular.otf") format("opentype"),
        url("../fonts/PPNeueBit-Regular.ttf") format("truetype"),
        url("../fonts/PPNeueBit-Regular.woff") format("woff"),
        url("../fonts/PPNeueBit-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "PP Neuebit";
    src:
        url("../fonts/PPNeueBit-Bold.otf") format("opentype"),
        url("../fonts/PPNeueBit-Bold.ttf") format("truetype"),
        url("../fonts/PPNeueBit-Bold.woff") format("woff"),
        url("../fonts/PPNeueBit-Bold.woff2") format("woff2");
    font-weight: bold;
}

:root {
    --font-family-base: PP NeueBit, Arial, Helvetica, sans-serif;
    --font-size-base: 1.5rem;
    --font-size-heading: 3rem;
    --line-height-base: 1;
    --hyperlink-blue: #0000EE;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

h1 {
    font-size: var(--font-size-heading);
    /* font-family: var(--font-family-base); */
} 

h2 { 
    font-size: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    padding: 40px;
}

.grid-2 {
    margin-top: 25vh;
}

.grid-3 {
    display: flex;
    justify-content: end;
}

.grid-1 h1 {
    line-height: normal;
    position: fixed;
}

.grid-2 {
    grid-column: 2 / 4;
}

.icon-box {
    display: flex;
    justify-content: center;
    position: fixed;
}

.icon-box img {
    margin-right: 5px;
}

.smiley:hover .hide-pixel {
    display: none;
}

.smiley:hover {
    fill: var(--hyperlink-blue);
    cursor: pointer;
}

.smiley {
    fill: #000;
}

.nav-icon {
    /* margin-top: 10px; */
    margin-right: 5px;
}

pre {
    font-size: 12px;;
}