@import url('./reset.css');

@font-face {
    font-family: "PP Neuebit";
    src:
        url("../fonts/PPNeueBit-Regular.otf") format("opentype"),
        url("../fonts/PPNeueBit-Regular.ttf") format("truetype"),
        url("../fonts/PPNeueBit-Regular.woff") format("woff"),
        url("../fonts/PPNeueBit-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "PP Neuebit";
    src:
        url("../fonts/PPNeueBit-Bold.otf") format("opentype"),
        url("../fonts/PPNeueBit-Bold.ttf") format("truetype"),
        url("../fonts/PPNeueBit-Bold.woff") format("woff"),
        url("../fonts/PPNeueBit-Bold.woff2") format("woff2");
    font-weight: bold;
}

:root {
    --font-family-base: PP NeueBit, Arial, Helvetica, sans-serif;
    --font-size-base: 1.5rem;
    --font-size-heading: 3rem;
    --font-size-heading-mobile: 2.5rem;
    --line-height-base: 1;
    --hyperlink-blue: #0000EE;
    --font-color: #000;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

h1 {
    font-size: var(--font-size-heading);
    /* font-family: var(--font-family-base); */
}

a h1 {
    text-decoration: none;
    color: var(--font-color);
}

a {
    text-decoration: none;
}

h2 { 
    font-size: 2rem;
}

pre {
    font-size: 12px;;
}

/* Home Grid Layout */

.grid-container {
    padding: 30px;
}

.grid-1 h1 {
    line-height: normal;
    /* position: fixed; */
}

.grid-2 {
    grid-column: 2 / 4;
    margin-top: 15vh;
}

.grid-3 {
    display: flex;
    justify-content: end;
}

.left {
    display: flex;
    justify-content: space-between;
    column-gap: 1.75rem;
}

/* Icon Nav Styles */

.icon-box {
    display: flex; 
}

.icon-box-desktop {
    display: none;
}

.icon-box-mobile {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    /* position: fixed; */
}

.icon-box a {
    margin-right: 2px;
}

.icon-box a:last-child  {
    margin-right: 0px;
}

.nav-icon .show-pixel {
    display: none;
}

@media screen and (min-width: 750px) {
    .icon-box-mobile {
        display: none;
    }

    .icon-box a {
        margin-right: 5px;
    }

    .icon-box-desktop {
        display: flex;
        justify-content: center;
        position: fixed;
    }
    
    .grid-1 h1 {
        line-height: normal;
        position: fixed;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
        padding: 40px;
    }

    .grid-2 {
        margin-top: 25vh;
    }

    /* Icon Animation Styles */

    .nav-icon .show-pixel {
        display: none;
    }
    
    .nav-icon:hover .hide-pixel {
        display: none;
    }
    
    .nav-icon:hover .show-pixel {
        display: initial;
    }
    
    .cursor:hover {
        fill: var(--hyperlink-blue);
    }
    
    .nav-icon:hover:not(.cursor) {
        fill: var(--hyperlink-blue);
        cursor: pointer;
        transform: translateY(3px);
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .nav-icon:not(.cursor) {
        transform: translateY(0px);
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        fill: #000;
    }
    
}