---
layout: /layouts/base.liquid
---

<div class="container">
    <div class="grid-1">
        <h1>
            Monica Rekas
        </h1>
    </div>
    <div class="grid-2">
        <pre>
     :::       ::: :::::::::: :::        ::::::::   ::::::::    :::   :::   ::::::::::
    :+:       :+: :+:        :+:       :+:    :+: :+:    :+:  :+:+: :+:+:  :+:        
   +:+       +:+ +:+        +:+       +:+        +:+    +:+ +:+ +:+:+ +:+ +:+         
  +#+  +:+  +#+ +#++:++#   +#+       +#+        +#+    +:+ +#+  +:+  +#+ +#++:++#     
 +#+ +#+#+ +#+ +#+        +#+       +#+        +#+    +#+ +#+       +#+ +#+           
 #+#+# #+#+#  #+#        #+#       #+#    #+# #+#    #+# #+#       #+# #+#            
###   ###   ########## ########## ########   ########  ###       ### ##########      


        </pre>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sapien congue odio lacinia tincidunt. In hac habitasse platea dictumst. Mauris ullamcorper orci neque. Suspendisse aliquam, sapien a tincidunt congue, nisl justo tincidunt purus, et vestibulum risus diam et sapien. Aenean at feugiat odio. Etiam non sagittis dolor, in elementum ligula. Quisque dignissim metus luctus nulla placerat convallis. Nullam imperdiet ligula purus. Nulla euismod neque nec massa scelerisque, non mattis dolor ultricies. Pellentesque id felis id eros fermentum congue. Quisque hendrerit eros non dolor finibus cursus. Morbi in convallis ex. Phasellus et orci diam. Donec pretium, justo ut tempus laoreet, ligula tellus suscipit nulla, nec porta dui velit vel justo. Nullam mattis dolor in justo sagittis viverra. Donec a justo non quam feugiat consectetur. Nullam ullamcorper, augue in fermentum malesuada, erat felis posuere sem, ut vulputate purus nisi in enim. Nulla luctus nibh at purus viverra, et porta lorem ultrices. Quisque at finibus augue, eget dictum mauris. Curabitur non eros purus. Aenean sagittis erat quis ante volutpat ultricies. Nullam convallis pulvinar tortor, eu pharetra est. Nunc ultricies felis velit, a ultricies purus posuere eu. Fusce nunc elit, volutpat a tincidunt vitae, aliquet eu nunc. Fusce lacinia erat vitae arcu laoreet, eu egestas dui interdum. Suspendisse sit amet molestie massa, lobortis cursus sapien. Sed condimentum nunc in tristique scelerisque. Nam est lectus, pretium ut ex id, varius posuere lectus. Donec sed blandit sapien. Etiam cursus massa sed purus gravida pretium. Etiam euismod placerat sapien, et posuere eros dapibus ut. In vel nisi tristique, aliquam sem sed, eleifend nibh. Suspendisse malesuada tempor neque ac tristique. Donec faucibus neque vitae tempor facilisis. Duis nunc mi, suscipit at cursus et, semper ut lacus. Sed non venenatis lacus. Mauris sed metus tincidunt, maximus nibh sed, molestie arcu. Suspendisse a turpis lectus. Maecenas eu volutpat sem. Vivamus bibendum porttitor nisi ac egestas. Fusce suscipit eros in ante consectetur, quis faucibus erat iaculis. Integer gravida sollicitudin risus ut porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris hendrerit eros id nulla congue, at hendrerit turpis molestie. Donec id ipsum tellus. Quisque bibendum ex quis aliquet suscipit. Nullam lobortis elementum laoreet. Suspendisse efficitur aliquam purus sed semper. Donec ut viverra sem. Phasellus pulvinar turpis et lectus viverra scelerisque. Sed volutpat sem porta, rhoncus leo id, aliquam justo. Nullam hendrerit felis lorem, sit amet cursus erat fringilla aliquet. Duis suscipit, nulla a varius scelerisque, nisl nisi semper dui, vitae venenatis tortor dui id quam. Aliquam erat volutpat. Proin sit amet libero vestibulum, luctus diam non, molestie nisi. Mauris sit amet sapien enim. Nam pulvinar feugiat vestibulum. Sed euismod, felis a tempus lacinia, orci orci rutrum arcu, ac posuere nisi eros sed sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus in posuere lacus. Nulla fringilla lectus lacus, vel sagittis libero blandit sed. Morbi varius lorem purus, quis pulvinar velit commodo eget. Vivamus egestas dui sed lobortis imperdiet. Integer rhoncus tortor ultricies augue ultrices, ac sodales diam vehicula. Sed et odio in erat aliquet eleifend nec a ipsum.
    </div>
    <div class="grid-3">
        <div class="icon-box">
            {% renderFile "./includes/icons/smiley.liquid" %}
            <img src="/page32x32-folded.svg" width="32" height="32"/>
            <img src="/cursor.png" width="32" height="32"/>
            <img src="/chatbubble.png" width="32" height="32" />
            </div>
    </div>
</div>